.bid-component {
  border: #777E90 solid 1px;
  border-radius: 25px;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 25px;

  &__title {
    font-weight: bold;
    font-size: 40px;
  }

  &__creator-price-info {
    display: flex;
    margin: 15px 0 15px 0;
    flex-direction: row;

    .creator-info {
      display: flex;
      &__avatar{
        width: 45px;
        height: 45px;
        border: #777E90 solid 1px;
        border-radius: 50%;
        margin-right: 5px;

        &.name {
          background-color: #777E90;
          font-size: 30px;
          text-align: center;
          line-height: 40px;
        }
      }
      &__name {
        font-size: 20px;
        height: 100%;
        vertical-align: bottom;
      }
    }

    .instant-price {

    }
  }
}