.auction-page {
  display: flex;
  flex-direction: column;

  &__content{
    display: flex;
    flex-direction: row;
    margin: 60px 80px 60px 80px;
    justify-content: space-between;

    .nft-image {
      display: flex;
      border: transparent;
      border-radius: 25px;
      max-height: 680px;
      width: 50%;
    }

    .bid-component {
      display: flex;
      flex-direction: column;
      max-width: 350px;

      .swipe-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}